<footer class="mt-5 py-4 site-footer">
  <div class="container">

    <!-- FIRST ROW: LEFT LINKS | CENTER CONTACT | RIGHT SOCIALS -->
    <div class="row align-items-center">

      <!-- LEFT: Page links -->
      <div class="col-md-4 text-md-start text-center mb-3 mb-md-0">
        <ul class="list-inline footer-links">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/about">About Me</a></li>
          <li class="list-inline-item"><a href="/projects">Projects</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- CENTER: Contact line & copyright -->
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <p class="mb-1">
          Contact: <a href="/contact" class="footer-email">Contact@AlexTwilson.com</a> <!-- need to change mail to address because it doesn't exist. will change to redirect to contact page// Done -->
        </p>
        <p class="mb-0">© 2025 Alex T. Wilson</p>
      </div>

      <!-- RIGHT: Social icons -->
      <div class="col-md-4 text-md-end text-center">
        <div class="footer-socials d-flex justify-content-md-end justify-content-center gap-3">
          <a href="https://www.linkedin.com/in/alexander-wilson-lovedataforever" target="_blank">
            <i class="fa-brands fa-linkedin fs-4"></i>
          </a>
          <a href="https://github.com/AlexTWilson95" target="_blank">
            <i class="fa-brands fa-github fs-4"></i>
          </a>
          <a href="https://www.instagram.com/alexndrwilson/" target="_blank">
            <i class="fa-brands fa-instagram fs-4"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</footer>

