<header class="py-3 border-bottom">
  <div class="container">

    <!-- ROW 1: LEFT icons | CENTER title | RIGHT empty -->
    <div class="row align-items-center">
      <!-- LEFT: Social icons -->
      <div class="col-4 d-flex gap-3 justify-content-start header-socials">
        <a href="https://www.instagram.com/alexndrwilson/" target="_blank"><i class="fa-brands fa-instagram fs-4"></i></a>
        <a href="https://github.com/AlexTWilson95" target="_blank"><i class="fa-brands fa-github fs-4"></i></a>
        <a href="https://www.linkedin.com/in/alexander-wilson-lovedataforever" target="_blank"><i class="fa-brands fa-linkedin fs-4"></i></a>
        <a href="mailto:Contact@AlexTwilson.com"><i class="fa-solid fa-envelope fs-4"></i></a>
      </div>

      <!-- CENTER: Title -->
      <div class="col-4 text-center">
        <h1 class="m-0 fw-bold">Alex T. Wilson</h1>
      </div>

      <!-- RIGHT: Empty spacer to keep title centered -->
      <div class="col-4"><!-- empty on purpose --></div>
    </div>

    <!-- ROW 2: Centered nav -->
    <nav class="mt-3 border-top pt-2">
      <ul class="nav justify-content-center gap-4">
        <li class="nav-item"><a href="/" class="nav-link"><i class="fa-solid fa-house"></i> Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link"><i class="fa-solid fa-user"></i> About Me</a></li>
        <li class="nav-item"><a href="/projects" class="nav-link"><i class="fa-solid fa-folder"></i> Projects</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
      </ul>
    </nav>

  </div>
</header>

