<div class="row align-items-center g-4">

  <!-- LEFT SIDE -->
  <div class="col-md-4 text-center">
    <img src="/images/profile_picture.png" class="home-photo" alt="Photo of Alex Wilson">

    <div class="social-icons d-flex flex-column gap-2">
      <a href="https://www.instagram.com/alexndrwilson/" target="_blank">
        <i class="fa-brands fa-instagram"></i> Instagram
      </a>
      <a href="https://github.com/AlexTWilson95" target="_blank">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/alexander-wilson-lovedataforever" target="_blank">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
      <a href="mailto:Contact@AlexTwilson.com">
        <i class="fa-solid fa-envelope"></i> Email
      </a>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="col-md-8">
    <h2>Welcome to My Portfolio</h2>
    <p>
      I'm Alex, a student and aspiring developer. I specialize in creating simple, functional,
      and responsive web applications. This portfolio highlights my work, skills, and how to connect with me.
    </p>
    <p>
      Explore the pages above to learn more, and reach out anytime!
    </p>
  </div>

</div>
