
<h1>Saved Messages</h1>

<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% messages.forEach(m => { %>
      <tr>
        <td><%= new Date(m.date).toLocaleString() %></td>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td><%= m.message %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
